body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.top-image {
    background-image: url(https://cdn.wallpapersafari.com/27/63/K89E4N.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 150px;
    position: relative;
    width: 100%;
}

#menu {
    background: rgb(110, 110, 110);
    display: flex;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.links {
    float: left;
}

.links a {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 20px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.links a:hover:not(.active) {
    background-color: rgb(80, 80, 80);
}

.active {
    background-color: rgb(80, 80, 80);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(255, 255, 255);
}

#container {
    height: 530px;
}

h1 {
    margin-top: 20px;
    margin-left: 42px;
    margin-bottom: 0px;
}

.card {
    float: left;
    margin-left: 42px;
    width: 40%;
    max-width: 100%;
    text-align: justify;
}

.image-index {
    margin-right: 42px;
    float: right;
}

.hobbies {
    margin-left: 10px;
    display: list-item;
}

.image-hobby {
    margin-right: 42px;
    float: right;
}

.história {
    margin-left: 42px;
    margin-right: 42px;
    text-align: justify;
}

#rodapé {
    background: rgb(110, 110, 110);
    bottom: 0;
    left: 0;
    padding: 16px;
    position: fixed;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
}

h2 {
    margin-left: 42px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
}

.main {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #fff;
    margin-right: 25px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
    transition: all .3s ease-out;
}

.icon:hover {
    width: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}

.icon:hover i {
    color: #fff;
}

.icon .fa-instagram {
    color: #E4405F;
}

.insta:hover {
    background: #E4405F;
}

.icon .fa-linkedin-in {
    color: #0077B5;
}

.lnk:hover {
    background: #0077B5;
}

.icon .fa-github {
    color: #000;
}

.git:hover {
    background: #000;
}